[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "EpiModel"]
	path = EpiModel
	url = https://github.com/epimodel/epimodel
[submodule "network"]
	path = network
	url = https://github.com/statnet/network
	branch = master
	registered = false
[submodule "networkLite"]
	path = networkLite
	url = https://github.com/epimodel/networklite
[submodule "statnet.common"]
	path = statnet.common
	url = https://github.com/statnet/statnet.common
	branch = master
	registered = false
